extends ../layout

block content
    .container
    .row
        .col-md-2
        .col-md-4
            ul.list-group(style='margin:20px;font-size:auto;')
                li.list-group-item
                    img.fluid.col-md-12(src= product.img)
                li.list-group-item
                    h3 상품 설명
                    p= product.content
                li.list-group-item
                    h3 상품 후기
                    p
                    |저는 이 강좌를 듣고~

        .col-md-4
            ul.list-group(style='margin:20px;font-size:auto;')
                li.list-group-item
                    .conainer
                    .row
                        .col-md-4 
                            h4(style='display:inline;margin:15px;') 상품명 :
                        .col-md-8
                            h4= product.title
                li.list-group-item
                    .conainer
                    .row
                        .col-md-4 
                            h4(style='display:inline;margin:15px;') 가격 :
                        .col-md-8
                            h4= product.price
                li.list-group-item     
                    button.btn-primary(style='width:100%;float:right;') 구매
                li.list-group-item
                    h3 판매자 프로필
                    ul.list-group(style='margin:25px;font-size:auto;')
                        li.list-group-item
                            .container
                            .row
                                .col-md-4
                                img.fluid.col-md-4(src= seller.img)
                                .col-md-4
                        li.list-group-item
                            .row
                                .col-md-3 이메일
                                .col-md-9= seller.seller_id.email
                        li.list-group-item
                            .row
                                .col-md-3 이름
                                .col-md-9= seller.name
                        li.list-group-item
                            .row
                                .col-md-3 소개
                                .col-md-9= seller.introduce      