extends ../layout
block content
    .container-fluid
    .row
        .col-md-12
            #grid
                h1(style='font-size:55px;display:flex;justify-content:center;') 결제 창
    .row
        br
    .row(style="margin-top:100px")
        .col-md-3
        
        .col-md-6(style="border:1px solid gray")
            .container(style="display:grid;")
                .row(style="padding-top:20px; padding-bottom:20px;")
                    img.col-md-4.fluid(src= product.img)
                    form(action=`/products/purchase/${product._id}`, method='POST')
                        .col-md-8(style="padding-left:100px; padding-top:25px;")
                            table
                                tbody
                                    tr
                                        th 판매자
                                        th 상품명
                                        th 가격
                                        th 소요시간
                                    tr
                                        td= seller.name
                                        td= product.title
                                        td= product.price
                                        td= product.requireTime
                        button.btn(type='sumbit' ,style='color:white; margin-top:20px; width:70px;background:blue; float:right;') 구매



