extends ../layout
block content
    .container-fluid
    .row
        .col-md-12
            #grid
                h1(style='font-size:55px;display:flex;justify-content:center;') 결제 창
    .row
        br
    .row(style="margin-top:100px")
        .col-md-3
        
        .col-md-6(style="border:1px solid gray")
            .container(style="display:grid;")
                .row(style="padding-top:20px; padding-bottom:20px;")
                    img.col-md-4.fluid(src= product.img)
                    form(action=`/products/purchase/${product._id}`, method='POST')
                        .col-md-8(style="padding-left:100px; padding-top:25px;")
                            table
                                tbody
                                    tr
                                        th 판매자
                                        th 상품명
                                        th 가격
                                        th 소요시간
                                    tr
                                        td= seller.name
                                        td= product.title
                                        td= product.price
                                        td= product.requireTime
                        button.btn(type='sumbit' ,style='color:white; margin-top:20px; width:70px;background:blue; float:right;') 구매
        //-todo 여기에 metamask, web3 연결
        //- .col-md-3
        //- button.btn(id='meta') 메타마스크 연습
        //- button.btn(id='web3') web 연결 테스트 돈보내기
        //- button.btn(id='test') web 거래 승인
        //- h1#text

    script.
        var userAccount;
        var contract;
        var accounts;
        var web3
        var abi = [
            {
                "constant": false,
                "inputs": [
                    {
                        "name": "receiver",
                        "type": "address"
                    },
                    {
                        "name": "amount",
                        "type": "uint256"
                    }
                ],
                "name": "mint",
                "outputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "constant": false,
                "inputs": [
                    {
                        "name": "receiver",
                        "type": "address"
                    },
                    {
                        "name": "amount",
                        "type": "uint256"
                    }
                ],
                "name": "send",
                "outputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "constructor"
            },
            {
                "anonymous": false,
                "inputs": [
                    {
                        "indexed": false,
                        "name": "from",
                        "type": "address"
                    },
                    {
                        "indexed": false,
                        "name": "to",
                        "type": "address"
                    },
                    {
                        "indexed": false,
                        "name": "amount",
                        "type": "uint256"
                    }
                ],
                "name": "Sent",
                "type": "event"
            },
            {
                "constant": true,
                "inputs": [
                    {
                        "name": "",
                        "type": "address"
                    }
                ],
                "name": "balances",
                "outputs": [
                    {
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "payable": false,
                "stateMutability": "view",
                "type": "function"
            },
            {
                "constant": true,
                "inputs": [],
                "name": "minter",
                "outputs": [
                    {
                        "name": "",
                        "type": "address"
                    }
                ],
                "payable": false,
                "stateMutability": "view",
                "type": "function"
            }
            ];

        document.getElementById('meta').addEventListener('click', function() {
        // Web3가 브라우저에 주입되었는지 확인(Mist/MetaMask)
        if (typeof web3 !== 'undefined') {
            // Mist/MetaMask의 프로바이더 사용
            web3 = new Web3(web3.currentProvider);
            account();
            console.log(web3.eth.accounts[0]);
        } else {
            alert('설치해');
        }

        // 이제 자네 앱을 시작하고 web3에 자유롭게 접근할 수 있네:
        startApp();
        })

        async function account() {
            try {
                accounts = await ethereum.send('eth_requestAccounts');

            }catch (error) {
                if (error.code === 4001) {
                    console.log('s');
                }else {
                    console.error(error);
                }
            };
        }

        function startApp() {
            var contractAddress = "0xaa63eae7745223f0852d3e9cc76c3cfa0cf10ce7";
            contract = web3.eth.contract(abi, contractAddress);
        }

        document.getElementById('web3').addEventListener('click', function() {
            contract.methods.send('0xe3869c52d84Cd9C43341A9Fcb3c31D6805ea3b34', 0x00)
            .call();
        })

        document.getElementById('test').addEventListener('click', function() {
            web3.eth.sendTransaction({
                from: web3.eth.accounts[0],
                to: '0x19f298E51290D47363f1d58cB56F190aa3343c6E',
                value: '0x00'
            }, function(error, hash){
                });
        })


